<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blog App</title>
        <!-- Bootstrap CSS bundle -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>

    <body class="bg-dark bg-gradient text-white">
        <%- body %>
        <!-- Footer for source and profile links -->
        <footer class="bg-dark p-2">
            <div class="p text-center">
                <p>Built by Rohit Yellapu
                    <a href="https://www.linkedin.com/in/rohit-yellapu/" target='_blank'><img style="height: 2rem;"
                            class="p-1" src="https://img.icons8.com/color/512/linkedin-2.png" alt="linkedin" /></a>
                    <a href="https://twitter.com/rohit_yellapu" target='_blank'><img style="height: 2rem;" class="p-1"
                            src="https://img.icons8.com/color/512/twitter.png" alt="twitter" /></a>
                    <a href="https://github.com/rohityellapu" target='_blank'><img style="height: 2rem;" class="p-1"
                            src="https://img.icons8.com/glyph-neue/512/github.png" alt="github" /></a>
                </p>
                <p><a href="https://github.com/rohityellapu/blogger" target="_blank" class="link-info nav-link">Source
                        code<img class="p-1" style="height: 2rem;"
                            src="https://img.icons8.com/glyph-neue/512/github.png" alt="github" /></a></p>
            </div>
        </footer>

        <!-- Bootstrap javascript bundle -->


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>


        <script src="/scripts/validation.js">

        </script>
    </body>

</html>
